<!DOCTYPE html>
<html lang="pt-BR"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Confirmar Reserva</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
		
			<form th:action="@{/reserva/confirmar}" method="POST">
				
				<h2 class="text-center content-title-s">Confirmar Reserva</h2>
			
				<table th:object="${reservaConfirmacao}">
					
					<input type="hidden" th:field="*{idAnuncio}" />
					<input type="hidden" th:field="*{idUsuarioLocando}" />
				
					<tr>
						<td>ID ANUNCIO</td>
						<td th:text="*{idAnuncio}">Anúncio</td>
					</tr>
					<tr>
						<td>LOCATARIO</td>
						<td th:text="*{nomeLocador}">Locatário</td>
					</tr>
					<tr>
						<td>LOCAL</td>
						<td th:text="*{local}">Local</td>
					</tr>
					<tr>
						<td>DATA INICIO</td>
						<td>
							<input type="date" th:field="*{dataInicio}" />
						</td>
					</tr>
					<tr>
						<td>DATA FIM</td>
						<td>
							<input type="date" th:field="*{dataFim}" />
						</td>
					</tr>
					<tr>
						<td>DIARIA</td>
						<td th:text="*{diaria}">Anúncio</td>
						<input type="hidden" th:field="*{diaria}" />
					</tr>
					<tr>
						<td>TOTAL</td>
						<td th:text="*{total}">Valor Total</td>
						<input type="hidden" th:field="*{total}" />
					</tr>
					<tr>
						<td></td>
						<td>
							<input type="submit" value="Confirmar" />
						</td>
					</tr>
				</table>
			
			</form>
		
		</div>
	</div>
</body>
</html>
