<!DOCTYPE html>
<html lang="pt-BR"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Confirmar Reserva</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="form-insert section clearfix box-shadow">
					<div class="col col-l-12 col-m-12 col-s-12">

						<div class="form-insert-heading">Confirmar Reserva</div>

						<form th:action="@{/reserva/confirmar}" th:object="${reservaConfirmacao}" method="POST">

							<input type="hidden" th:field="*{idAnuncio}" />
							<input type="hidden" th:field="*{idUsuarioLocando}" />

							<label>
								<span>Locatario:</span>
								<input th:field="*{nomeLocador}" readonly="true" class="input-field" />
							</label>

							<label>
								<span>Cidade:</span>
								<input th:field="*{local}" readonly="true" class="input-field" />
							</label>

							<label>
								<span>Disponibilidade:</span>
								<input th:field="*{periodoDisponivel}" readonly="true" class="input-field" />
							</label>

							<label>
								<span>Data Inicio:</span>
								<input th:field="*{dataInicio}" type="date" required="required" class="input-field" />
							</label>

							<label>
								<span>Data Fim:</span>
								<input th:field="*{dataFim}" type="date" required="required" class="input-field" />
							</label>

							<label>
								<span>Diária:</span>
								<input th:field="*{diaria}" readonly="true" class="input-field" />
							</label>

							<label>
								<span>Total:</span>
								<input th:field="*{total}" readonly="true" class="input-field" />
							</label>

							<label>
								<span>&nbsp;</span>
								<input type="submit" value="Confirmar" />	
							</label>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
