<div th:fragment="header">
	<header class="header header-inverse clearfix fixed box-shadow">

		<a href="/" th:href="@{'/'}">
			<h1 class="logo logo-inverse inline-block pull-left">Alugômetro</h1>
		</a>

		<nav class="pull-right">
			<ul class="reset-list">
				<li class="inline-block">
					<a class="nav-link nav-link-inverse inline-block" th:href="@{/anuncio/inserir}">Anunciar</a>
				</li>
				
				<li class="inline-block" sec:authorize="isAuthenticated()">
						<div class="nav-link inline-block" >
							<form th:action="@{/reserva/usuario}" method="POST">
								<input type="hidden"  name="email" th:value="${#authentication.name}" />
								<button class="nav-link nav-link-inverse inline-block input-link input-link-inverse">Minhas Reservas</button>
							</form>
						</div>
					</li>
					
					<li class="inline-block" sec:authorize="isAuthenticated()">
						<div class="nav-link inline-block" >
							<form th:action="@{/anuncio/usuario}" method="POST">
								<input type="hidden" name="email" th:value="${#authentication.name}"/>
								<button class="nav-link nav-link-inverse inline-block input-link input-link-inverse">Meus Anucios</button>
							</form>
						</div>
					</li>
									
				<li class="inline-block" sec:authorize="!isAuthenticated()">
					<a class="nav-link nav-link-inverse inline-block" th:href="@{|/login|}">Login</a>
				</li>
				<li class="inline-block">
					<div sec:authorize="isAuthenticated()">
						<form th:action="@{/logout}" method="POST">
							<input class="nav-link nav-link-inverse inline-block input-link input-link-inverse" type="submit" value="Logout" />
						</form>
					</div>
				</li>
			</ul>
		</nav>
	</header>
	<div class="header-bg header-bg-white"></div>
</div>
