.alert {
	width: 600px;
	height: 22px;
	position: absolute;
	color: #2ecc71;
	background-color: #d6f5e4;
	border: 1px solid #adebc9;
	padding: 20px;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	top: 160px;
	left: 25%;
	border-radius: 3px;
	z-index: 3;
}

.close {
	position: absolute;
	right: 0;
	top: 0;
	margin: 5px;
	padding: 5px;
	background-image: url('/img/icons/close-icon.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	background-size: 12px;
	border: 0;
	cursor: pointer;
}

.alert p {
	margin: 0;
}
