
.azul-forte {
	color: #2980b9;
}

.azul-fraco {
	color: #3498db;
}

.cinza-fraco {
	color: #bdc3c7;
}

.cinza-forte {
	color: #7f8c8d;
}

.cinza-medio {
	color: #95a5a6;
}

.midnight {
	color: #34495e;
}