/* ==========================================
	Forms
========================================== */

.form-container {
	padding: 32px 0;
}

.form-container input {
	width: 80%;
	height: 38px;
	font-size: 20px;
	margin: 0 auto 10px;
	padding: 5px 15px;
	border: 1px solid #95a5a6;
}

.btn-default {
	height: 50px;
	background-color: #3498db;
	font-size: 22px;
	line-height: 26px;
	color: #fff;
	border: 1px solid #2980b9;
	cursor: pointer;
	padding: 10px;
	margin: 32px auto 0;
}

.btn-login {
	margin: 0 auto;
	width: 40%;
}

.form-radius {
	border-radius: 3px;
}
