/* ==========================================
	Forms
========================================== */

/* Form Index e Login */

.form-container {
	padding: 32px 0;
}

.form-container input {
	width: 93%;
	height: 38px;
	font-size: 20px;
	margin: 10px auto 20px;
	padding: 5px 15px;
	border: 1px solid #95a5a6;
}

.form-container select {
	width: 98.8%;
	height: 50px;
	font-size: 20px;
	margin: 10px auto 20px;
	padding: 5px 15px;
	background-color: #fff;
}

.btn-default {
	height: 50px;
	background-color: #3498db;
	font-size: 22px;
	line-height: 26px;
	color: #fff;
	border: 1px solid #2980b9;
	cursor: pointer;
	padding: 10px;
	margin: 32px auto 0;
}

.btn {
    height: 30px;
    background-color: #3498db;
    color: #fff;
    border: 1px solid #2980b9;
    cursor: pointer;
}

.btn:hover {
    background-color: #2980b9;
}

.btn-login {
	margin: 0 auto;
	width: 100%;
}

.form-radius {
	border-radius: 3px;
}

.index-search {
	width: 50% !important;
}

/* Form Cadastro e Consulta */

.form-insert {
    padding: 15px 0;
    font-size: 14px;
    line-height: 18px;
    margin: 0 auto;
    color: #5C5E5E;
}

.form-insert-heading {
    font-weight: bold;
    border-bottom: 2px solid #5C5E5E;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 8px;
}

.form-insert label {
    display: block;
    margin: 15px 0;
}

.form-insert label > span {
    width: 158px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.form-insert input.input-field {
    width: 48%;
}

.form-insert input.input-field, 
.form-insert input[type="number"].input-field, 
.form-insert .textarea-field, 
.form-insert .select-field {
    box-sizing: border-box;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    padding: 7px;
    outline: none;
}

.form-insert .input-field:focus, 
.form-insert .number-field:focus, 
.form-insert .textarea-field:focus,  
.form-insert .select-field:focus {
    border: 1px solid #000;
}

.form-insert .textarea-field {
    height:100px;
    width: 55%;
}

.form-insert input[type=submit],
.form-insert input[type=button] {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #3498db;
    color: #fff;
    border-radius: 3px;
}

.form-insert input[type=submit]:hover,
.form-insert input[type=button]:hover {
    background: #2980b9;
    color: #fff;
}

.form-input-aside {
    display: block;
    width: 100%;
}

.button-aside {
    margin-top: 26px !important;
    margin-bottom: 5px !important;
}

#amount {
    border: 0;
    padding-bottom: 10px;
}

.date-aside {
    width: 100% !important;
}
