.form-home {
	padding: 32px 0;
}

.form-home input {
	width: 80%;
	height: 38px;
	font-size: 20px;
	margin: 0 auto;
	padding: 5px 15px;
}

.form-home button {
	height: 50px;
	background-color: #3498db;
	font-size: 22px;
	line-height: 26px;
	color: #fff;
	border: 1px solid #2980b9;
	cursor: pointer;
	padding: 10px;
	margin: 32px auto 0;
}