/* ==========================================
	Header
========================================== */

.header {
	width: 100%;
	height: 68px;
	padding: 10px 40px;
	box-sizing: border-box;
	z-index: 1000;
}

.header-inverse {
	border-bottom: 1px solid #bdc3c7;
}

.header-bg {
	width: 100%;
	height: 68px;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	z-index: 999;
}

.header-bg-white {
	background-color: #fff;
}

.logo {
	margin: 0;
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
	color: #fff;
	padding-top: 6px;
}

.logo-inverse {
	color: #5C5E5E;
}

.nav-link {
	padding: 10px 15px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.nav-link-inverse {
	color: #5C5E5E;
}

.nav-link:hover {
	background-color: rgba(255, 255, 255, 0.3);
	text-decoration: none;
}

.nav-link-inverse:hover {
	background-color: rgba(0, 0, 0, 0.2);
	text-decoration: none;
}

.fade {
    opacity: 0;
}
