<!DOCTYPE html>
<html lang="pt-BR"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Erro</title>
</head>
<body>
	<h1 class="index-title">Ocorreu algum erro inesperado :(</h1>

	<p th:text="${timestamp}" class="index-paragraph"></p>

	<p th:text="${status}" class="index-paragraph"></p>

	<p th:text="${error}" class="index-paragraph"></p>

	<div th:if="${ex} or ${exception} or (${message} and ${message.length() != 0})">
		<p th:text="${message}" class="index-paragraph">message...</p>
	</div>
</body>
</html>