<!DOCTYPE html>
<html lang="pt-BR"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Alugômetro - Home</title>

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/css/normalize.css" />
	<link rel="stylesheet" href="/css/modules.css" />
	<link rel="stylesheet" href="/css/colors.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/background.css" />
	<link rel="stylesheet" href="/css/content.css" />
	<link rel="stylesheet" href="/css/forms.css" />
	<link rel="stylesheet" href="/css/footer.css" />
</head>
<body>
	<div class="bg-index">
		<header class="header clearfix fixed">

			<a href="/" th:href="@{'/'}">
				<h1 class="logo inline-block pull-left azul-fraco">Alugômetro</h1>
			</a>

			<nav class="pull-right">
				<ul class="reset-list">
					<li class="inline-block">
						<a class="nav-link inline-block" href="/anuncio/insere" th:href="@{'/anuncio/inserir'}">Anunciar</a>
					</li>
					<li class="inline-block">
						<a class="nav-link inline-block" th:href="@{|/login|}">Login</a>
					</li>
					<li class="inline-block">
						<div sec:authorize="isAuthenticated()">
							<a class="nav-link inline-block" th:href="@{/anuncio/inserir}">
								<span sec:authentication="name">Usuario</span>
							</a>
						</div>
					</li>
					<li class="inline-block">
						<div sec:authorize="isAuthenticated()">
							<form th:action="@{/logout}" method="POST">
								<input class="nav-link inline-block input-link" type="submit" value="Logout" />
							</form>
						</div>
					</li>
				</ul>
			</nav>
		</header>
		<div class="header-bg fade"></div>
		
		<div class="content">
			<h1 class="text-center content-title-l text-shadow">Alugômetro</h1>

			<p class="text-center content-text-l text-shadow">Você procura, nós encontramos.</p>

			<form th:action="@{'/anuncio/listarPorCidade'}" method="GET" class="form-container">
				<input type="text" placeholder="Ex.: Rio de Janeiro..." name="cidade" class="block index-search form-radius" />
				<button class="block btn-default form-radius">Pesquisar</button>
			</form>
		</div>
	</div>

	<div th:include="fragments/_footer :: footer"></div>

	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="/js/home.js"></script>
</body>
</html>