<!DOCTYPE html>
<html lang="pt-BR"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Alugômetro - Login</title>

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/css/normalize.css" />
	<link rel="stylesheet" href="/css/grid.css" />
	<link rel="stylesheet" href="/css/modules.css" />
	<link rel="stylesheet" href="/css/colors.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/background.css" />
	<link rel="stylesheet" href="/css/content.css" />
	<link rel="stylesheet" href="/css/forms.css" />
	<link rel="stylesheet" href="/css/footer.css" />
</head>
<body>
	<div class="bg-index">
		<header class="header clearfix fixed">
			
			<a href="/" th:href="@{'/'}">
				<h1 class="logo inline-block pull-left azul-fraco">Alugômetro</h1>
			</a>

			<nav class="pull-right">
				<ul class="reset-list">
					<li class="inline-block">
						<a class="nav-link inline-block" href="#">Anunciar</a>
					</li>
					<li class="inline-block">
						<a class="nav-link inline-block" th:href="@{|/login|}">Login</a>
					</li>
				</ul>
			</nav>
		</header>
		<div class="header-bg"></div>
		
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col col-l-6 col-s-12">
						<h2 class="text-center content-title-s">Bem vindo ao Alugômetro.</h2>

						<p class="text-center content-text-s">Disponibilize seu imóvel para aluguel ou encontre o lugar que você procura.</p>

						<p class="text-center content-text-s">Ainda não é usuário? Faça seu cadastro agora mesmo.</p>

						<a href="#" class="block text-center link-s link-l">Cadastre-se!</a>
					</div>

					<div class="col col-l-6 col-s-12">
						<h2 class="text-center content-title-s content-title-login">Login</h2>
						<form th:action="@{/login}" action="/login" method="POST" class="form-container">
							<input type="text" name="username" placeholder="Usuario" class="block form-login form-radius" />
							<input type="password" name="password" placeholder="Senha" class="block form-radius" />
							<button class="block btn-default btn-login form-radius">Logar</button>

							<ul class="reset-list link-list text-center">
								<li class="inline-block">
									<a href="#" class="text-center link-s">Esqueceu sua senha?</a>	
								</li>
								<li class="inline-block">
									<a href="#" class="text-center link-s">Cadastre-se!</a>
								</li>
							</ul>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:include="fragments/_footer :: footer"></div>

	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</body>
</html>