<!DOCTYPE html>
<html lang="pt-BR"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Alugômetro</title>

	<!-- FONTS -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css' />

	<!-- DEPENDENCIES -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="/slick/slick.css"/>
	<link rel="stylesheet" href="/slick/slick-theme.css"/>

	<link rel="stylesheet" href="/owl/owl-carousel/owl.carousel.css" />
	<link rel="stylesheet" href="/owl/owl-carousel/owl.theme.css" />

	<!-- STYLES -->
	<link rel="stylesheet" href="/css/normalize.css" />
	<link rel="stylesheet" href="/css/grid.css" />
	<link rel="stylesheet" href="/css/background.css" />
	<link rel="stylesheet" href="/css/header.css" />
	<link rel="stylesheet" href="/css/content.css" />
	<link rel="stylesheet" href="/css/forms.css" />
	<link rel="stylesheet" href="/css/modules.css" />
	<link rel="stylesheet" href="/css/footer.css" />
	<link rel="stylesheet" href="/css/pagination.css" />
</head>
<body>
	<!-- HEADER -->
	<div th:include="fragments/_header :: header"></div>

	<!-- CONTEUDO -->
	<div class="bg-color">
		<div class="content">
			<div layout:fragment="content" class="container">
				
			</div>
		</div>
	</div>
	
	<!-- RODAPE -->
	<div th:include="fragments/_footer :: footer"></div>

	<!-- SCRIPTS -->
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="/js/template.js"></script>
	<script src="/js/limitarTamanhoImagem.js"></script>
	<script th:src="@{/js/validaDatas.js}"></script>
	<script th:src="@{/js/moment.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/calcularTotalReserva.js}"></script>

	<script src="/slick/slick.min.js"></script>
	<script src="/owl/owl-carousel/owl.carousel.js"></script>
</body>
</html>