<!DOCTYPE html>
<html lang="pt-BR"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Anunciar</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="form-insert section clearfix box-shadow">
				<div class="col col-l-12 col-m-12 col-s-12">
					<div class="form-insert-heading">
						Insira os dados do seu anuncio
					</div>
					<form th:action="@{/anuncio/inserir}" action="/anuncio/inserir" th:object="${anuncio}" class="upload-form" method="POST" enctype="multipart/form-data">
						<label>
							<span>Tipo de Imóvel:</span>
							<select th:field="*{idTipoImovel}" class="select-field">
								<option th:each="tipoImovel : ${tiposImoveis}" th:text="${tipoImovel.descricao}" th:value="${tipoImovel.idTipoImovel}" >[option]</option>
							</select>
						</label>

						<label>
							<span>Tipo de Acomodação:</span>
							<select th:field="*{idTipoAcomodacao}" class="select-field">
								<option th:each="tipoAcomodacao : ${tiposAcomodacoes}" th:text="${tipoAcomodacao.descricao}" th:value="${tipoAcomodacao.idTipoAcomodacao}" >[option]</option>
							</select>
						</label>

						<label>
							<span>Nº de Pessoas:</span>
							<input th:field="*{numeroPessoas}" type="number" min="0" class="input-field" id="" placeholder="" />
						</label>

						<label>
							<span>Cidade:</span>
							<select th:field="*{idCidade}" class="select-field">
								<option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}" >[option]</option>
							</select>
						</label>

						<label>
							<span>Data disponibilidade inicial:</span>
							<input th:field="*{dataInicio}" type="date" required="required" class="input-field" id="" placeholder="" />
						</label>
						<span th:errors="*{dataInicio}"></span>

						<label>
							<span>Data disponibilidade final:</span>
							<input th:field="*{dataFim}" type="date" required="required" class="input-field" id="" placeholder="" />
						</label>
						<span th:errors="*{dataFim}"></span>

						<label>
							<span>Preço por dia:</span>
							<input th:field="*{diaria}" type="number" min="0" class="input-field" id="" placeholder="" />
						</label>
						<span  th:errors="*{diaria}"></span>

						<label>
							<span>Descrição Capa:</span>
							<input th:field="*{descricaoCapa}" type="text" required="required" class="input-field" id="" placeholder="" />
						</label>
						<span th:errors="*{descricaoCapa}"></span>

						<label>
							<span>Descrição Detalhada:</span>
							<textarea th:field="*{descricaoDetalhada}" required="required" class="textarea-field"></textarea>
						</label>
						<span th:errors="*{descricaoDetalhada}"></span>

						<label>
							<span>Foto Capa:</span>
							<input name="imagem" type="file" required="required" data-max-size="5242880" class="upload-file input-field" id="" placeholder="" accept="image/*" />
						</label>
						<span th:errors="*{idFotoCapa}"></span>

						<div id="fotos-div">
						</div>

						<label>
							<span>&nbsp;</span>
							<input id="btn-fotos" type="button" value="Mais Fotos" />
						</label>

						<label>
							<span>&nbsp;</span>
							<input type="submit" value="Cadastrar" />
						</label>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
