<!DOCTYPE html>
<html lang="pt-BR"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Anunciar</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col col-s-12 col-l-12">
				<div class="form-insert section">
					<div class="form-insert-heading">
						Insira os dados do seu anuncio
					</div>
					<form th:action="@{/anuncio/inserir}" action="/anuncio/inserir" th:object="${anuncio}" method="POST" enctype="multipart/form-data">
						<label>
							<span>Tipo de Imóvel:</span>
							<select th:field="*{idTipoImovel}" class="select-field">
								<option th:each="tipoImovel : ${tiposImoveis}" th:text="${tipoImovel.descricao}" th:value="${tipoImovel.idTipoImovel}" >[option]</option>
							</select>
						</label>

						<label>
							<span>Tipo de Acomodação:</span>
							<select th:field="*{idTipoAcomodacao}" class="select-field">
								<option th:each="tipoAcomodacao : ${tiposAcomodacoes}" th:text="${tipoAcomodacao.descricao}" th:value="${tipoAcomodacao.idTipoAcomodacao}" >[option]</option>
							</select>
						</label>

						<label>
							<span>Nº de Pessoas:</span>
							<input th:field="*{numeroPessoas}" type="number" class="input-field" id="" placeholder="" />
						</label>

						<label>
							<span>Cidade:</span>
							<select th:field="*{idCidade}" class="select-field">
								<option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}" >[option]</option>
							</select>
						</label>

						<label>
							<span>Data disponibilidade inicial:</span>
							<input th:field="*{dataInicio}" type="date" class="input-field" id="" placeholder="" />
						</label>

						<label>
							<span>Data disponibilidade final:</span>
							<input th:field="*{dataFim}" type="date" class="input-field" id="" placeholder="" />
						</label>

						<label>
							<span>Preço por dia:</span>
							<input th:field="*{diaria}" type="number" class="input-field" id="" placeholder="" />
						</label>

						<label>
							<span>Descrição Capa:</span>
							<input th:field="*{descricaoCapa}" type="text" class="input-field" id="" placeholder="" />
						</label>

						<label>
							<span>Descrição Detalhada:</span>
							<textarea th:field="*{descricaoDetalhada}" class="textarea-field"></textarea>
						</label>

						<label>
							<span>Foto Capa:</span>
							<input name="imagem" type="file" class="input-field" id="" placeholder="" />
						</label>

						<label>
							<span>Demais Fotos:</span>
							<input type="file" class="input-field" id="" placeholder="" />
						</label>

						<label>
							<span>&nbsp;</span>
							<input type="submit" value="Cadastrar" />
						</label>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
