<!DOCTYPE html>
<html lang="pt-BR"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Meus Anúncios</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div th:if="${ not #lists .isEmpty(anuncios) }" class="col col-l-8 col-s-12">
				<div th:each="anuncio : ${(anuncios)}" class="section clearfix list-row">
					<div class="image-list pull-left">
						<a th:href="${ '/anuncio/' + anuncio.idAnuncio }">
							<img width="250" height="200" th:src="${anuncio.fotoCapa}" />
						</a>
					</div>
					<div class="pull-left">	
						<p th:text="${anuncio.tipoImovel}">Apartamento</p>
						<p th:text="${anuncio.preco}"></p>
						<p th:text="${anuncio.descricaoCapa}"></p>
						<p th:text="${anuncio.cidade}"></p>
						<p th:text="${anuncio.situacao}"></p>
					</div>
					<div class="pull-right link-section-content">
						<a th:href="${ '/anuncio/' + anuncio.idAnuncio }" class="link-section">
							<p>Ver anuncio!</p>
						</a>
						
						<form th:action="@{/anuncio/desativar}" method="POST">
							<input type="hidden" th:name="idAnuncio" th:value="${anuncio.idAnuncio}"/>
							<input type="hidden" th:name="idUsuario" th:value="${anuncio.idUsuario}"/>
							<button class="btn btn-default" type="submit">Desativar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
