<!DOCTYPE html>
<html lang="pt-BR"
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Anunciar</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<aside class="col col-l-3 col-m-12 col-s-12">
				<div class="form-insert section clearfix box-shadow padding-m">
					<div class="form-insert-heading">
						Filtre sua busca
					</div>
					<form th:action="@{/anuncio/listarPorBuscaDetalhada}" action="/anuncio/buscar" method="GET">
						<input type="hidden" id="minval" name="precoMenor" />
						<input type="hidden" id="maxval" name="precoMaior" />
						<label>
							<p>
								<span for="amount">Faixa de Preço:</span>
								<input type="text" id="amount" readonly="true" />
							</p>
							<div id="slider-range"></div>
						</label>

						<label>
							<span>Cidade:</span>
							<select class="select-field form-input-aside" name="idCidade">
								<option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}" >[option]</option>
							</select>
						</label>

						<label>
							<span>Tipo de Imóvel:</span>
							<select class="select-field form-input-aside" name="idTipoImovel">
								<option th:each="tipoImovel : ${tiposImoveis}" th:text="${tipoImovel.descricao}" th:value="${tipoImovel.idTipoImovel}" >[option]</option>
							</select>
						</label>

						<label>
							<span>Tipo de Acomodação:</span>
							<select class="select-field form-input-aside" name="idTipoAcomodacao">
								<option th:each="tipoAcomodacao : ${tiposAcomodacoes}" th:text="${tipoAcomodacao.descricao}" th:value="${tipoAcomodacao.idTipoAcomodacao}" >[option]</option>
							</select>
						</label>

						<label class="button-aside">
							<input type="submit" value="Filtrar" class="form-input-aside" />
						</label>
					</form>
				</div>
			</aside>

			<div th:if="${ not #lists .isEmpty(anuncios) }" class="col col-l-8 col-m-12 col-s-12">
				<div th:each="anuncio : ${(anuncios)}" class="section clearfix list-row box-shadow">
					<div class="image-list pull-left">
						<a th:href="${ '/anuncio/' + anuncio.idAnuncio }">
							<img width="250" height="200" th:src="${anuncio.fotoCapa}" />
						</a>
					</div>
					<div class="pull-left">	
						<p th:text="${anuncio.tipoImovel}">Apartamento</p>
						<p th:text="${anuncio.preco}"></p>
						<p th:text="${anuncio.descricaoCapa}"></p>
						<p th:text="${anuncio.cidade}"></p>
					</div>
					<div class="pull-right link-section-content">
						<a th:href="${ '/anuncio/' + anuncio.idAnuncio }" class="link-section">
							<p>Ver anuncio!</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
